node_modules/
data/
*.log
.env
.trigger
# Google's default name for a downloaded service-account key: <project-id>-<12 hex>.json
*-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f].json
